<?xml version="1.0"?>
<properties>
    <nlp-function package-path="util.nlp" method-name="nlp_twitter" />
    <data-handler>
        <word_pool package-path="util.data_handler" class-name="WordPool" />
        <word_filter package-path="util.data_handler" class-name="WordFilter" />
        <word_relationship package-path="util.data_handler" class-name="WordRelationship" />
    </data-handler>
    <api>
        <class package-path="api.SearchTopics" class-name="SearchTopic" service-url="/searchTopic" />
        <class package-path="api.TopicCloud" class-name="TopicCloud" service-url="/topicCloud" />
        <class package-path="api.TopicNetwork" class-name="TopicNetwork" service-url="/topicNetwork" />
    </api>
</properties>
